@import '../../styles/variables';
@import '../../styles/mixins';

body {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
}

.board-container {
  width: 100%;
  padding: 20px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  font-family: $font-family;

  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .lists {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
  }

  .add-list-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .add-list-button {
    @include button-style();
  }
}

.board-header {
  position: relative;
  height: 60px;
  margin-top: 20px;
  padding: 0 20px;

  .to-home-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include button-style();
  }

  .board-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    margin: 0;

  }

  .board-title input {
    font-size: 24px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .board-title h1 {
    cursor: pointer;
  }

  .color-picker {
    @include color-picker-input();
  }
}

.delete-board-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  z-index: 100;

  &:hover {
    background-color: #d32f2f;
  }
}