@import './mixins';
@import './variables';

.form-container {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 16px;
        width: 400px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        color: white;
        background: linear-gradient(270deg, #2ebade, #2d6c77, #5be9d3, #32abd6);
        background-size: 600% 600%;
        animation: gradientShift 10s ease infinite;
    }

    @keyframes gradientShift {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .title {
        text-align: center;
        color: $color-text;
        font-size: 26px;
        margin-bottom: 10px;
    }

    .inputGroup {
        display: flex;
        flex-direction: column;
    }

    .label {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: $font-size-medium;
        color: $color-text;
    }

    .input {
        padding: 15px;
        font-size: $font-size-medium;
        border-radius: 4px;
        border: 1px solid $color-primary;
        transition: border-color 0.3s ease;
    }

    .input:focus {
        outline: none;
        border-color: $color-lightpurple;
    }

    .input.error {
        border: 3px solid $color-danger;
    }

    .button {
        padding: 10px;
        background: linear-gradient(135deg, #5cb6e3 0%, #98db9c 90%);
        color: white;
        font-size: $font-size-medium;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 15px;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background: linear-gradient(135deg, #49a5eb 0%, #a0b2a1 70%);
    }

    .button:disabled {
        background: $color-muted;
        cursor: not-allowed;
    }

    .errorMessage {
        color: $color-danger;
        font-size: $font-size-medium;
        margin-top: 10px;
    }

    .successMessage {
        color: $color-success;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .strengthContainer {
        margin-top: 10px;
    }

    .strengthBar {
        display: flex;
        gap: 4px;
        margin-bottom: 10px;
    }

    .strengthSegment {
        flex: 1;
        height: 4px;
        border-radius: 2px;
    }

    .strengthLabel {
        font-size: $font-size-medium;
        text-align: center;
    }

    .loginLink {
        text-align: center;
        font-size: $font-size-medium;
        color: #2e2a2e;
        margin-top: 10px;
    }

    .loginLink a {
        color: $color-lightpurple;
        text-decoration: none;
        font-weight: 600;
    }

    .loginLink a:hover {
        text-decoration: underline;
    }

}