// src/styles/_mixins.scss
@import './variables';

@mixin button-style($bg: $button-bg, $color: $text-color) {
  background: $card-bg;
  padding: 12px;
  border-radius: $border-radius;
  font-family: $font-family;
  cursor: pointer;
  box-shadow: $box-shadow;
  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
  border: none;

  &:hover {
    background-color: $button-hover;
    color: darken($color, 10%);
  }
}

@mixin card-style {
  background: $card-bg;
  padding: 12px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-family: $font-family;
  margin-bottom: 10px;
  font-size: 18px;
}
@mixin color-picker-input {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px solid transparent;
   cursor: pointer;
   transition: border 0.2s ease-in-out;
 }
 @mixin modal-style {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;

   .modal-content {
     @include card-style;
     width: 300px;
     padding: 20px;
     background: #fff;
     border-radius: $border-radius;
     text-align: center;

     h2,
     h3 {
       margin-bottom: 16px;
     }

     input[type='text'] {
       width: 90%;
       padding: 8px;
       margin-bottom: 10px;
       border: 1px solid #badb44;
       border-radius: 4px;
       font-size: 16px;
     }

     .error {
       color: red;
       font-size: 14px;
       margin-top: 8px;
     }

     .modal-actions {
       display: flex;
       justify-content: space-between;
       margin-top: 16px;

       button {
         @include button-style();
         padding: 8px 12px;
         flex: 1;

         &:first-child {
           background-color: #a3e528;
           color: white;
         }

         &:last-child {
           background-color: #d41a1a;
           color: white;
           margin-left: 10px;
         }
       }
     }
   }

   .color-picker {
     margin-top: 10px;

     p {
       margin-bottom: 5px;
       font-weight: bold;
     }

     .colors {
       display: flex;
       gap: 8px;
       justify-content: center;
       margin-bottom: 10px;
     }

     .color-circle {
       width: 30px;
       height: 30px;
       border-radius: 50%;
       border: 2px solid transparent;
       cursor: pointer;
       transition: border 0.2s ease-in-out;

       &.selected {
         border: 2px solid #000;
       }
     }

     .color-picker-board,
         .color-picker-list{
       @include color-picker-input;
     }

     .native-color {
       margin-top: 8px;
     }
   }
 }

