$primary-bg: #efc480;
$background-image: url('https://img.freepik.com/premium-photo/lemonade-splash-isolated-white-background_1166140-21938.jpg');
$list-bg: #f3ee6a;
$card-bg: #f3f587;
$button-bg: rgba(218, 226, 178, 0.8);
$button-hover: rgba(189, 161, 117, 0.2);
$text-color: #362c22;
$border-radius: 12px;
$box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);
$font-family: 'Trebuchet MS', 'Gill Sans', sans-serif;
