$primary-bg: #878285;
$background-color: #e0d9e0;
$list-bg: #989a9c;
$card-bg: #e1d9d9;
$button-bg: rgba(148, 154, 151, 0.6);
$button-hover: rgba(9, 30, 66, 0.08);
$text-color: #3b3535;
$border-radius: 10px;
$box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
$font-family: 'Trebuchet MS', 'Gill Sans', sans-serif;