@import '../../styles/mixins';
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.light {
  background: linear-gradient(to right, #a6d7e1, #6fccdf, #d4dde2);
}

body.dark {
  background: linear-gradient(to right, #0a0622, #16093a, #012939);
}
body.dark h1 {
  color: #00e6ff;
  box-shadow:
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 30px #0ef;
}

body.light h1 {
  color: #1462b0;
  box-shadow:
    0 0 6px #00b7ff,
    0 0 12px #00b7ff,
    0 0 20px #00b7ff;
}

.homePage {
  position: relative;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Gill Sans', sans-serif;

  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    box-shadow:
      0 0 5px #0ef,
      0 0 10px #0ef,
      0 0 20px #0ef;
    transition:
      color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .theme-toggle {
    position: absolute;
    top: 3%;
    right: 2%;
    background: none;
    border: 1px solid #0ef;
    box-shadow:
      0 0 5px #0ef,
      0 0 10px #0ef,
      0 0 20px #0ef;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .boards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .create-board-button {
    padding: 5px 5px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(135deg, #5cb6e3 0%, #dcecdd 90%);
    color: rgb(28, 29, 29);
    cursor: pointer;
    font-size: 16px;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      border 0.3s ease;

    &:hover {
      background-color: #65d2ac;
      transform: scale(1.05);
    }
  }

  .exit-button {
    position: absolute;
    top: 3%;
    right: 5%;
    background-color: #053649;
    box-shadow:
      0 0 5px #0ef,
      0 0 10px #0ef,
      0 0 20px #0ef;
    transition:
      color 0.3s ease,
      box-shadow 0.3s ease;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;

    &:hover {
      background: #221e3e;
    }
  }
  .login_prompt {
    display: flex;
    justify-content: right;
    align-items: center;
    top: 20%;
    right: 20%;
    color: red;
  }
}
