@import '../../../../styles/variables';
@import '../../../../styles/mixins';

h1 {
  text-align: center;
  font-family: $font-family;
}

.list {
  width: 100%;
  background: $list-bg;
  padding: 10px;
  border-radius: $border-radius;
  margin-right: 16px;
  font-family: $font-family;

  .list-title {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
  }
  .card-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.add-card-button {
  @include button-style();
  width: 100%;
}
