@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.card {
  @include card-style;
}
.delete-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;

  &:hover {
    background-color: #d32f2f;
  }
}
.card-content {
  position: relative;
  padding: 5px;
}

.card-title {
  margin-bottom: 3px;
  font-weight: 600;
}

.item-edit {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .edit-icon {
    color: #05184f;
    width: 20px;
    height: 20px;
  }
}
