@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.board-container {
  width: 100%;
  padding: 20px;
  background-color: $background-color;
  height: calc(100vh - 80px);
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  font-family: $font-family;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .lists {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
  }

  .add-list-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .add-list-button {
    @include button-style();
  }
}
